/* app css stylesheet */

#layout{
      background-color: #dfd8d0;
      height: 500px;

      border: 2px solid #908b85;
      border-radius: 20px;
      box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #89847e;
}
.red1 {
      font-size: 14px;
      background-color: #cb0e50 !important;
      box-shadow: 0px 3px 0px 0px #671c2a;
}
body{
      background-color: #888888;
}
#main{
      margin-top: 50px !important;
}
#title{
      font-family: 'Orbitron', sans-serif;
      font-size: 17px;
      padding-top: 20px;
      font-weight: bold;
}
p{
      padding-top: 0px;
}
#display{
      height: 60px !important;
      background-color:  #c3c2ab;
      margin-top: 10px;
      margin-left: 13px;
      margin-right: 12px;
      text-align: right;
      font-size: 20px;
      font-family: 'Orbitron', sans-serif;
}
button{
      margin-left: 20px !important;
      color: floralwhite !important;
      background-color: black;
      font-weight: bold !important;
      height: 40px;
      border-radius: 8px;
      font-size: 22px !important;
      box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
      font-family: 'Orbitron', sans-serif;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 321px) and (max-device-width : 480px) {
      button{
            margin-left: 22px !important;
      }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
      /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (width : 320px) {
      button{
            margin-left: 17px !important;
      }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
      /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
      /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
      /* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
      /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
      /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
      /* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
      /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
      /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
      /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
      /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
      /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
      /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
      /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
      /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
      /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
      /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
      /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
      /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
      /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
      /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
      /* Styles */
}
